* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__title {
    background-color: #0fe2ad;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}

.header__text {
    margin: 30px;
    text-align: center;
}

.header__secondshift {
    max-width: 550px;
    margin: 0 auto;
}

.header__secondshift-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

.parallel__days {
    margin: 35px auto;
    max-width: 550px;
    padding: 25px;
    border: 2px solid #000;
    background-color: #e0d9d9;
}

.parallel__groups {
    padding: 25px;
    border: 2px solid #000;
    background-color: #e0d9d9;
}

.parallel__groups-sat {
    margin-top: 15px;
}

.parallel__groups ul {
    display: flex;
    margin-top: 15px;
}

.parallel__groups li+li {
    padding-left: 20px;
}

.parallel__groups li {
    display: grid;
    text-align: center;
}

/* .max_par-1,
.max_par-2,
.max_par-3 {
    display: none;
} */
.group1, .group2, .group3, .group4, .group5, .group6, .group7, .group8, .group9, .group10, .group11{
    display: grid;
}
.max_par-1 select{
    width: 40px;
    height: 20px;
}
.next {
    width: 75px;
    background-color: #0fe2ad;
    border-radius: 5px;
    margin: 25px;
}

.discipline-info {
    display: flex;
}

.discipline-name,
.discipline-chek1,
.discipline-chek2 {
    max-width: 150px;
    margin-top: 15px;
}

.discipline-name {
    margin-right: 90px;
}

.discipline-chek1 {
    margin-right: 25px;
}

.discipline {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.pair {
    display: none;
}

.school-discipline input {
    margin: 6px 60px;
}

hr {
    max-width: 800px;
    border: 2px solid #0fe2ad;
}

table,
th,
td {
    margin: 10px 0;
    border: solid 1px #333;
    padding: 2px 4px;
    text-align: center;
}

th {
    font-weight: bold;
}

.table {
    margin: 50px;
}

.table input {
    width: 50px;
    text-align: center;
}

.table-teacher {
    text-align: center;
    display: flex;
    justify-content: center;
}

.teacher-discipline caption {
    padding-bottom: 25px;
}

.auditory-title {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.auditory-title p {
    width: 210px;
}

.auditory-box {
    background-color: #e0d9d9;
}

.auditory-1,
.auditory-2,
.auditory-3,
.auditory-4,
.auditory-5,
.auditory-6,
.auditory-7,
.auditory-8,
.auditory-9,
.auditory-10,
.auditory-11,
.auditory-12 {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.auditory-btn {
    width: 150px;
    height: 55px;
    background-color: #0fe2ad;
    margin: 15px;
}

.result {
    width: 150px;
    height: 55px;
    background-color: #0fe2ad;
    margin-left: 715px;
}